<% provide(:title, "Log in") %>
<h1>Certificate Password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: createcertificate_user_path) do |f| %>


        <%= f.label :password %> <%= link_to "(forgot password)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>
        <span style="color: red; font-weight: bold;">Important! ---- The password has to be the same as you login password</span>
        </br></br>
        <%= f.submit "Create Certificate", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>